*{
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #EFEFEF;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: 104px;
    position: absolute;
}

.BlocureID{
    width: 177.34px;
    height: 33px;
    background: #FFFFFF;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 158.16px;
    height: 44px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background: #FFFFFF;
}

.image{
    width: 44px;
    height: 44px;
    background: #FFFFFF;
}

.sara{
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logout{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 89.16px;
    height: 44px;
    padding: 10px 20px;
    gap: 8px;

    background: #3B5998;

    border: 1px solid #3B5998;
    border-radius: 8px;
}

.leftpane{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap:20px;
    position: absolute;
    width: 280px;
    height: 351px;
    left: 59px;
    top: 130px;
}

.profile{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

h5{
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;

    text-align: center;

    color: #000000;
}

.myprofile{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    text-align: center;
    text-transform: uppercase;

    color: #000000; 
}


.identities{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    text-align: center;
    text-transform: uppercase;

    color: #000000;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    text-transform: uppercase;

    width: 280px;
    height: 44px;

    background: #3B5998;

    border: 1px solid #3B5998;
    border-radius: 8px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.setting{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.out{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.divider{
    position: absolute;
    width: 0px;
    height: 520px;
    left: 369.5px;
    top: 130px;

    border: 1px solid #000000;
   
}

.rightpane{
    position: absolute;
    width: 820px;
    height: 478px;
    left: 400px;
    top: 130px;
}

.arrowleft{
    position: absolute;
    width: 49px;
    height: 49px;
    left: 0px;
    top: 14px;
    border-radius: 50%;

    background: #FFFFFF;   
}

.arrow{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 20%;
    top: 50%;
    border: 3px solid #1D2A4E;
    transform: translateY(-50%) rotate(-45deg);
    border-right: none;
    border-bottom: none;
    background: #FFFFFF;
}

.line{
    position: absolute;
    width: 31px;
    height: 0px;
    left: 7px;
    top: 23px;

    border: 1.8px solid #1D2A4E;
    transform: rotate(-180deg);
}

h3{
    position: absolute;
    width: 196px;
    height: 48px;
    left: 68px;
    top: 0px;

    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;

    color: #1D2A4E;
}

.rightpane p{
    position: absolute;
    width: 193px;
    height: 24px;
    top: 48px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #090909;
}

.divider2{
    position: absolute;
    width: 1053px;
    height: 0px;
    left: 0px;
    top: 87px;
    
    border: 1px solid #090909;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 419px;
    height: 297px;
    left: 0px;
    top: 107px;
}
    
.text{
    width: 129px;
    height: 297px;

}

.photo{
    position: absolute;
    width: 99px;
    height: 19px;
    left: 0px;
    top: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    color: #090909;
}

.first{
    position: absolute;
    width: 83px;
    height: 19px;
    left: 0px;
    top: 144px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #090909;
}

.last{
    position: absolute;
    width: 82px;
    height: 19px;
    left: 0px;
    top: 197px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #090909;
}

.type{
    position: absolute;
    width: 38px;
    height: 19px;
    left: 0px;
    top: 248px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #090909;
}

.inputset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 250px;
    height: 297px;
}

.inputset img{
    position: absolute;
    width: 123px;
    height: 123px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
}

input,select{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    width: 249px;
    height: 48px;

    background: #FFFFFF;

    border: 1px solid #D8D8D8;
    border-radius: 10px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

input::placeholder{
    width: 217px;
    height: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #090909;

    opacity: 0.4;
}

.firstname{
    top:130px;
}

.lastname{
    top: 126px;
}

.email{
    top: 122px;
}

.type{
    top: 255px;
}

.divider3{
    position: absolute;
    width: 1053px;
    height: 0px;
    left: 0px;
    top: 414px;

    border: 1px solid #090909;
}

.updatebutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;

    position: absolute;
    width: 243px;
    height: 44px;
    left: 0px;
    top: 434px;
}

.update{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;

    width: 114px;
    height: 44px;

    background: #3B5998;

    border: 1px solid #3B5998;
    border-radius: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.remove{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;

    width: 114px;
    height: 44px;

    background: #D53A3A;

    border: 1px solid #EFEFEF;
    border-radius: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}